<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5lbvc98nHOzifyqs9VgInSzZs3q9gijE</string>
	<key>GCM_SENDER_ID</key>
	<string>370641357893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vivaCity</string>
	<key>PROJECT_ID</key>
	<string>viva-city-ff76b</string>
	<key>STORAGE_BUCKET</key>
	<string>viva-city-ff76b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370641357893:ios:79d4199144b1e8af3e672c</string>
</dict>
</plist>